:root {
    --moradoOscuro: #1c122b;
    --moradoMedio: #71478e;
    --moradoClaro: #b392c0;
    --fondoClaro: #f1f1f1;
    --blanco: white;
}

* {
    box-sizing: border-box;
    margin: 0;

}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-template-areas:
        "header header"
        "hero hero"
        "main main"
        "footer footer";
    grid-template-columns: 1fr;

}

header {
    background-color: var(--moradoOscuro);
    grid-area: header;
    color: white;
}

.hero {
    background-image: url("../img/bannerci.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    color: white;
    grid-area: hero;
}

.hero button {

    width: 200px;
    margin-top: 1rem;
    background-color: #71478e;
    border-radius: 0.8rem;
    padding: 0.8rem;
    color: white;
    font-weight: bold;
}

.hero a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    background-color: #F1F1F1;
    grid-area: main;
    min-height: 75vh;
    padding: 1rem;
}


footer {
    background-color: #1c122b;
    grid-area: footer;
    min-height: 15vh;

}

.logo {
    display: flex;
    align-items: center;
    height: 120px;
}

.logo img {
    height: 100%;
    width: auto;
    max-height: 100px;
    object-fit: contain;
}

.menu-superior {

    display: flex;
    justify-content: space-between;
    /*space-evenly*/
    padding: 0 2rem;
    align-items: center;
    height: 100%;

}

.menu-superior ul {
    list-style: none;
    display: flex;
}

.menu-superior li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menu-superior li {
    padding: 7vh 1.5rem;
}

.menu-superior li:hover {
    background-color: #b392c0;
    cursor: pointer;
    transition-duration: 0.1s;
}

.menu-superior button {
    background-color: #71478e;
    border-radius: 0.8rem;
    padding: 0.8rem;
    color: white;
    font-weight: bold;
}

.menu-superior button:hover,
.botonEvento:hover {
    animation: linear;
    transform: scale(1.08);
    transition-duration: 0.1s;
    background-color: #b392c0;
    cursor: pointer;
}

button {
    background-color: var(--moradoMedio) !important;
    border: none !important;
    border-radius: 0.8rem !important;
    padding: 0.8rem !important;
    color: var(--blanco) !important;
    font-weight: bold  !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
}

button:hover {
    transform: scale(1.05) !important;
    background-color: var(--moradoClaro) !important;
}

.peliculas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
}

.card {
    background-color: #1c122b;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    height: auto;
}

.card:hover, .evento:hover {
    transform: scale(1.06);
}

button,
.card {
    transition: all 0.3s ease !important;
}

/*login*/
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: 3rem auto;
    background-color: var(--moradoOscuro);
    padding: 2rem;
    border-radius: 1rem;
    color: white;
}

input, textarea{
    padding: 0.7rem;
    border-radius: 0.5rem;
    border: none;
}

/*contacto*/
.contacto-container {
    max-width: 600px;
    margin: 0rem auto;
    padding: 2rem;
    text-align: center;
}

.contacto-container h2 {
    color: var(--moradoOscuro);
    margin-bottom: 1rem;
}

select {
    padding: 0.7rem;
    border-radius: 0.5rem;
    border: none;
    background-color: white;
    width: 100%;
}

.info-adicional {
    margin-top: 2rem;
    padding: 1rem;
    border-top: 2px solid var(--moradoClaro);
    color: var(--moradoOscuro);
}
/*eventos*/
.eventos {
    display: grid;
    /* Ajustamos el minmax para que las tarjetas no se estiren demasiado en pantallas grandes */
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    gap: 2rem;
    /* Espacio controlado entre tarjetas */
    justify-content: center;
    /* Centra el grupo de tarjetas en la pantalla */

}

.evento {
    background-color: var(--moradoOscuro);
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    
    transition: transform 0.3s ease;
}

.evento img {
    height: auto;
    width: 100%;

}

#misEventos {
    background-color: var(--moradoClaro);
    padding: 1rem;
    border-radius: 1rem;
    min-height: 200px;
    list-style: none;
}

#misEventos li {
    background-color: white;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
}

/*tienda*/
.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.producto {
    background-color: var(--moradoOscuro);
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.producto img {
    width: 100%;
    object-fit: contain;
    height: auto;

}

.producto input {
    width: 60px;
    text-align: center;
}

/*jquery*/

.ui-tooltip {
    background: var(--moradoOscuro);
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

/*footer*/
.footer-contenido {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    flex-wrap: wrap;
    color: white;
}

.footer-seccion {
    max-width: 300px;
}

.footer-seccion ul {
    list-style: none;
    padding: 0;
}

.footer-seccion a {
    text-decoration: none;
    color: white;
}

.footer-seccion a:hover {
    color: var(--moradoClaro);
}

.copy {
    text-align: center;
    padding: 1rem;
    background-color: var(--moradoMedio);
    color: white;
}



@media (max-width:768px) {
    .logo {
        height: 100%;
    }

    .logo img {
        max-height: 100px;
    }

    .menu-superior {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
    }

    .menu-superior ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .menu-superior li {
        padding: 1rem;
        border-top: 1px solid var(--moradoClaro);
    }

    .botones-cuenta {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0.5rem;
    }


    .hero {
        height: auto;
        padding: 2rem;

        min-height: 60vh;

    }

    .footer-contenido {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }

    .hero h1 {
        font-size: 1.8rem;
    }

    .hero p {
        font-size: 1rem;
    }
}

@media(max-width:768px) {

    .eventos {
        grid-template-columns: 1fr;
    }

    .productos {
        flex-direction: column;
        align-items: center;
    }

    form {
        width: 90%;
    }

    button {
        width: 100%;
    }


}

@media(max-width:768px) {

    .peliculas {
        grid-template-columns: 1fr;
    }

}